<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Code Snippet Sharing</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <nav class="bg-blue-600 p-4 text-white">
      <div class="container mx-auto flex justify-between">
        <a href="/" class="text-xl font-bold">Snippety</a>
        <div id="authenticated-links" style="display: none;">
            <a href="/snippets" class="mx-2 hover:text-blue-200">All Snippets</a>
            <a href="/snippets/mylist" class="mx-2 hover:text-blue-200">My Snippets</a>
            <a href="/snippets/new" class="mx-2 hover:text-blue-200">Create Snippet</a>
            <a href="/logout" class="mx-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Logout</a>
        </div>
        <div id="unauthenticated-links" style="display: none;">
            <a href="/login" class="mx-2 hover:text-blue-200">Login</a>
            <a href="/register" class="mx-2 hover:text-blue-200">Register</a>
        </div>
        </div>
      </div>
    </nav>
    <div class="container mx-auto mt-8">